APP_URL=http://127.0.0.1:8000
SUCCESS_URL=
CANCEL_URL=
ENABLE_PAYWALL=false
PAYWALL_ENABLED=false
ENABLE_WEASY=false
PREFER_REPORTLAB=true
STRIPE_SECRET_KEY=
STRIPE_API_VERSION=
BRAND_NAME=ClearTariff
BRAND_URL=
EMAIL_SENDER_NAME=
EMAIL_SENDER=
SHOW_BRAND_FOOTER=true
